@model Lab4ED1.Models.Calcomania

@{
    ViewBag.Title = "Create";
}

<h2>Carga de Archivo Json para Listado de tu Colección Oficial de stickers de la COPA MUNDIAL FIFA™</h2>
@using (Html.BeginForm("Create", "Estampas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Seleccionar archivo:</span>
    <input type="file" name="postedFile" />
    <br />
        <input type="submit" value="Subir" />
            <span style="color:green">@ViewBag.Message</span><br />
}
<br />
<br />
<br />
<div>
    @Html.ActionLink("Mostrar Recorrido En Orden por Fecha", "IndexInFecha")<br />
    @Html.ActionLink("Mostrar Recorrido En Orden por Numero", "IndexInNoPartido")
</div>
