@model Lab4ED1.Models.Calcomania

@{
    ViewBag.Title = "Buscar";
}

<<h2>Buscar Sticker del album de la Copa Mundial de la FIFA Rusia 2018</h2>
<div>
    <h4>Calcomania</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
    </dl>
    <br />
    @Html.ActionLink("Volver a la lista", "Lista")
